*{
    margin: 0;
    text-decoration: none;
    color: white;
    font-family: 'Dosis', sans-serif;
}
/*fondo de la pagina*/
.fondo__pagina{
    background-color: #57a8b3;
    width: 100%;
    overflow-x: hidden;
}
/*fondo de la pagina*/
/*header encabezado*/
#titulo__Nav{
    color: white;
    transition: 0.50s;
}
#titulo__Nav:hover{
    color: #57a8b3;
    text-decoration: underline;
    transform: scale(1.10);
}
.encabezado{
    display: block;
    width: 100%;
    --bs-gutter-x: 0rem;
    margin-top: 0px;
}
.encabezado__chico{
    display: none;
    background-color: #fd4830;
}
.colorCanvas{
    background-color: #fd4830;
}
#textoCanvas{
    color: white;
    font-size: 25px;
}
.barraNavegacion{
    background-color: #fd4830;
    color: white;
}
.listaNav{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
    font-size: 20px;
    color: white;
}
.titulo{
    overflow-y: hidden;
    grid-area: titulo;
    text-align: center;
    font-size: 40px;
    background-color: none;
    margin-bottom: 20px;
    margin-top: 40px;
    color: white;
}
.encabezado__logo{
    transition: transform 0.75s;
    margin-left: 20px;
}
.encabezado__logo:hover{
    transform: scale(1.10);
}
.logo{
    transition: transform 0.75s;
    padding-left:5px;
    padding-top: 3px;
}
.logo:hover{
    transform: scale(1.10);
}
.listaPrincipal{
    list-style: none;
    font-size: 0;
    display:flex;
    position: absolute;
    flex-direction: row;
    justify-content: space-evenly;
    height: 40px;
    top: 0px;
    right:0px;
    height: 100%;
    width: 75%;
    overflow-y: hidden;
}
.barra__titulos{
    overflow-y: hidden;
    display: inline-block;
    width: 75%;
    height: 100%;
    position:relative;
    padding-top:15px;
    font-size: 20px;
    text-align:center;
    border-style: none;
    transition: all 0.75s;
}
.barra__titulos:hover{
    transform: scale(1.25);
}
.barra__palabra{
    transition: all 0.75s;
}
.barra__palabra:hover{
    color: #57a8b3;
}
/*header encabezado*/
/*footer pie de pagina*/
.pieDePagina{
    position: relative;
    bottom: 0px;
    left:0px;
    background-color: #fd4830;
    height: 100%;
    grid-area: pieDePagina;
}
.pieDePagina__contacto{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin-bottom:0px;
}
.contacto__leyenda{
    display: flex;
    flex-direction: column;
    align-content: center;
    width: 100%;
    text-align: center;
    background-color: none;
    color:white;
    margin-bottom: 10px;
    margin-top: 10px;
    margin-left: 0;
    overflow-y: hidden;

}
.contacto__logo{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-content: center;
    text-align: center;
    margin-bottom: 10px;
    margin-top: 5px;
    transition: all 0.75s;
}
.contacto__logo:hover{
    transform: scale(1.10);
}
.pieDePagina__redes{
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-items: center;
    right: 20px;
    bottom: 10px;
    overflow: visible;
}
.pieDePagina__music{
    position: fixed;
    left: 10px;
    bottom: 10px;
    overflow: visible;
}
.music{
    border-radius: 12px;
}
.redes__logo{
    margin-top: 10px;
    padding-bottom: 5px;
    padding-top: 8px;
    border-radius: 5px;
    transition: all 0.75s;
    width: 100%;
}
.redes__logo:hover{
    transform: scale(1.10);
}
.texto__link{
    transition: all 0.75;
}
.texto__link:hover{
    color: #ed532d;
}
.texto__link2{
    transition: all 0.75;
}
.texto__link2:hover{
    color: #57a8b3;
}
/*footer pie de pagina*/
/*Aplica en todos los html*/
h2{
    font-size: 30px;
    background-color: none;
    margin-bottom: 10px;
    margin-top: 20px;
    margin-left: 20px;
}
P{
    text-align: justify;
    font-size: 25px;
    text-size-adjust: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
}
.texto__link{
    text-decoration: underline;
    overflow-y: hidden;
    color: white;
}
.texto__link:hover{
    color: #fd4830;
}
#link__footer:hover{
    color: #57a8b3;
}
.texto__link2{
    text-decoration: underline;
}
/*Aplica en todos los html*/
/*index.html*/
.imagen__primerPlano{
    background-image: url("../images/primerPlanoTabla.jpg");
    min-height: 300px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    grid-area: imagen__primerPlano;
}
.index{
    display: grid;
    grid-template-areas: "encabezadoB          encabezadoB          encabezadoB"
                         "titulo              titulo              titulo"
                         "introduccion        introduccion        introduccion"
                         "imagen__primerPlano imagen__primerPlano imagen__primerPlano"
                         "textointroduccion   textointroduccion   textointroduccion"
                         "pieDePagina         pieDePagina         pieDePagina";
    align-content: space-between;
}
.introduccion{
    grid-area: introduccion;
}
.textointroduccion{
    grid-area: textointroduccion;
}
/*index.html*/
/*clases.html*/


.clases{
    display: grid;
    grid-template-areas: "encabezado          encabezado          encabezado"
                         "titulo              titulo              titulo"
                         "texto__experiencia  texto__experiencia  texto__experiencia"
                         "clase__imagen       clase__imagen       clase__imagen"
                         "texto__contacto     texto__contacto     texto__contacto"
                         "subtitulo__clases   subtitulo__clases   subtitulo__clases"
                         "texto__clases       texto__clases       texto__clases"
                         "videos__experiencia videos__experiencia videos__experiencia"
                         "pieDePagina         pieDePagina         pieDePagina";
     align-content: space-between;
    }
    .clases__videos{
        grid-area: videos__experiencia;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        height: 100%;
        width: 100%;
}
.texto__experiencia{
    grid-area: texto__experiencia;
}
.subtitulo__clases{
    grid-area: subtitulo__clases;
}
.texto__clases{
    grid-area: texto__clases;
}
.clase__imagen{
    grid-area: clase__imagen;
    background-image: url("../images/tablas.jpg");
    min-height: 375px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.texto__contacto{
    grid-area: texto__contacto;
    display: inline-block;
    width: 100%;
    text-align: center;
    left: 40%;
    margin-bottom: 20px;
    margin-top: 20px;
}
.videos{
    height: 600px;
}

/*clases.html*/
/*contacto.html*/
.contacto{
    display: grid;
    grid-template-areas: "encabezado          encabezado          encabezado"
                         "titulo              titulo              titulo"
                         "contacto__formulario contacto__formulario contacto__formulario"
                         "pieDePagina         pieDePagina         pieDePagina";
}
.contenido__contacto{
    grid-area: contacto__formulario;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 650px;
    width: 100%;
}

.contacto__formulario{
    overflow-y: hidden;
    display: inline-block;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 0px;
    margin-bottom: 0px;
    width:70%;
    height: 97%;
}
.formulario__info{
    display: flex;
    flex-direction: column;
}
.contacto__imagen{
    width: 30%;
    height: 100%;
    overflow-y: hidden;
}
.letra__formulario{
    color: black;
}
.letra__formulario2{
    color: black;
    font-size: 18px;
}
.formulario__botones{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.botones{
    background-color: #fd4830;
    border-style: none;
    width: 100px;
}
/*contacto.html*/
/*historia.html*/
.historia{
    display: grid;
    grid-template-areas: "encabezado          encabezado          encabezado"
                         "titulo              titulo              titulo"
                         "historia1           historia1           historia1"
                         "imgEvo              imgEvo              imgEvo"
                         "subtitulo1          subtitulo1          subtitulo1"
                         "historia2           historia2           historia2"
                         "imgHistoria1        imgHistoria1        imgHistoria1"
                         "subtitulo2          subtitulo2          subtitulo2"
                         "historia3           historia3           historia3"
                         "subtitulo3          subtitulo3          subtitulo3"
                         "historia4           historia4           historia4"
                         "imgHistoria2        imgHistoria2        imgHistoria2"
                         "pieDePagina         pieDePagina         pieDePagina";
}
.subtitulo__historia1{
    grid-area: subtitulo1;
    text-align: justify;
    font-size: 30px;
    background-color: none;
    color:white;
    margin-bottom: 20px;
    margin-top: 20px;
    padding-left: 20px;
}
.subtitulo__historia2{
    grid-area: subtitulo2;
    text-align: justify;
    font-size: 30px;
    background-color: none;
    color:white;
    margin-bottom: 20px;
    margin-top: 20px;
    padding-left: 20px;
}
.subtitulo__historia3{
    grid-area: subtitulo3;
    text-align: justify;
    font-size: 30px;
    background-color: none;
    color:white;
    margin-bottom: 20px;
    margin-top: 20px;
    padding-left: 20px;
}
.texto__historia1{
    grid-area: historia1;
}
.texto__historia2{
    grid-area: historia2;
}
.texto__historia3{
    grid-area: historia3;
}
.texto__historia4{
    grid-area: historia4;
}
.imagen__evolucion {
    grid-area: imgEvo;
    background-image: url("../images/bannerPlaya.jpg");
    min-height: 300px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.imagen__historia1 {
    grid-area: imgHistoria1;
    background-image: url("../images/ola.jpg");
    min-height: 300px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .imagen__historia2 {
    grid-area: imgHistoria2;
    background-image: url("../images/surfista.jpg");
    min-height: 300px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
/*historia.html*/
/*surfpoints.html*/
.surfpoints{
    display: grid;
    grid-template-areas: "encabezado          encabezado          encabezado"
                         "titulo              titulo              titulo"
                         "textPoint           textPoint           textPoint"
                         "subtitulo1          subtitulo1          subtitulo1"
                         "lugar1              lugar1              lugar1"
                         "playa1              playa1              playa1"
                         "subtitulo2          subtitulo2          subtitulo2"
                         "lugar2              lugar2              lugar2"
                         "playa2              playa2              playa2"
                         "subtitulo3          subtitulo3          subtitulo3"
                         "lugar3              lugar3              lugar3"
                         "playa3              playa3              playa3"
                         "subtitulo4          subtitulo4          subtitulo4"
                         "lugar4              lugar4              lugar4"
                         "playa4              playa4              playa4"
                         "subtitulo5          subtitulo5          subtitulo5"
                         "lugar5              lugar5              lugar5"
                         "playa5              playa5              playa5"
                         "pieDePagina         pieDePagina         pieDePagina";
}
.texto__points{
    grid-area: textPoint;
}
.tabla__lugares1{
    grid-area: lugar1;
    display: inline-block;
    width: 100%;
    top: 10px;
    bottom: 10px;
    text-align: justify;
}
.tabla__lugares2{
    grid-area: lugar2;
    display: inline-block;
    width: 100%;
    top: 10px;
    bottom: 10px;
    text-align: justify;
}
.tabla__lugares3{
    grid-area: lugar3;
    display: inline-block;
    width: 100%;
    top: 10px;
    bottom: 10px;
    text-align: justify;
}
.tabla__lugares4{
    grid-area: lugar4;
    display: inline-block;
    width: 100%;
    top: 10px;
    bottom: 10px;
    text-align: justify;
}
.tabla__lugares5{
    grid-area: lugar5;
    display: inline-block;
    width: 100%;
    top: 10px;
    bottom: 10px;
    text-align: justify;
}
.lugares__titulo1{
    grid-area: subtitulo1;
    margin-left: 20px;
    margin-top: 20px;
    font-size: 30px;
}
.lugares__titulo2{
    grid-area: subtitulo2;
    margin-left: 20px;
    margin-top: 20px;
    font-size: 30px;
}
.lugares__titulo3{
    grid-area: subtitulo3;
    margin-left: 20px;
    margin-top: 20px;
    font-size: 30px;
}
.lugares__titulo4{
    grid-area: subtitulo4;
    margin-left: 20px;
    margin-top: 20px;
    font-size: 30px;
}
.lugares__titulo5{
    grid-area: subtitulo5;
    margin-left: 20px;
    margin-top: 20px;
    font-size: 30px;
}
.imagen__playa1 {
    grid-area: playa1;
    background-image: url("../images/playa1.jpg");
    min-height: 300px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.imagen__playa2 {
    grid-area: playa2;
    background-image: url("../images/playa2.jpg");
    min-height: 300px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.imagen__playa3 {
    grid-area: playa3;
    background-image: url("../images/playa3.jpg");
    min-height: 300px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.imagen__playa4 {
    grid-area: playa4;
    background-image: url("../images/playa4.jpg");
    min-height: 300px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.imagen__playa5 {
    grid-area: playa5;
    background-image: url("../images/playa5.jpg");
    min-height: 300px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
td{
    font-size: 25px;
}
/*surfpoints.html*/
/*lifestyle*/

.contenido__lifestyle{
    display: flex;
    flex-direction: row;
    justify-content: space-between center;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 50px;
    width:100%;
    height:max-content;
}
.eventos__card{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-bottom: 20px;
    height: 550px;
    width: 70%;
}
.lifestyle__imagenes{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 40px;
    margin-bottom: 50px;
    width: 100%;
    height: 513px;
}
.lifestyle__contenedor{
    width: 769px;
    height: 513px;
}
.lifestyle__music{
    overflow-y: hidden;
    margin-right: 20px;
    margin-left: 35px;
    margin-top: 30px;
    width: 25%;
    height: 100%;
}
.videoSurfer{
    display: flex;
    flex-direction: row;
    margin-top: 20px;
    margin-left: 20px;
}
/*surfshop*/
@media (max-width:1048px){
    .contenido__lifestyle{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        height: 100%;
        width: auto;
    }
.eventos__card{
        width: 100%;
    }
    .titulo__evento{
        text-align: center;
    }
    .lifestyle__music{
        width:50%;
        margin-top: 60px;
    }
}
@media (max-width:991px){
    .logo2{
        display: none;
    }
    .encabezado__grande{
        display: none;
    }
    .encabezado__chico{
        display: flex;
        position: relative;
    }
    
    .lifestyle__imagenes{
        width: 100%;
        height: 513px;
        margin: 0px;
    }
}
@media (max-width:768px){
    
    .pieDePagina__music{
        position: relative;
        overflow: visible;
        width: 100%;
        left: 0px;
        padding-top: 20px;
        height: fit-content;
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
    .music{
        border-radius: 0px;
    }
    .listaPrincipal{
        display:flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: end;
        height: 100%;
        width: 50%;
    }
    .encabezado__logo{
        height: 100%;
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .index{
        display: grid;
    grid-template-areas: "encabezado          "
                         "titulo              "
                         "introduccion        "
                         "imagen__primerPlano "
                         "textointroduccion   "
                         "pieDePagina         ";
    height: max-content;
    }
    .clases{
        display: grid;
        grid-template-areas: "encabezado       "
                            "titulo            "
                            "texto__experiencia"  
                            "clase__imagen     "
                            "texto__contacto"     
                            "subtitulo__clases"
                            "texto__clases"
                            "videos__experiencia"
                            "videos__experiencia"
                            "videos__experiencia"
                            "pieDePagina";
        align-content: space-between;
    }
    .clases__videos{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        height: fit-content;
        width: 100%;
    }
    .contacto{
        display: grid;
        grid-template-areas: "encabezado          "
                             "titulo              "
                             "contacto__formulario"
                             "contacto__formulario"
                             "contacto__formulario"
                             "pieDePagina         ";
    }
    .contenido__contacto{
        grid-area: contacto__formulario;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        height: 100%;
        width: 100%;
        margin-right: 0px;
        margin-bottom: 40px;
        overflow: hidden;
    }
    .contacto__formulario{
        display: inline-block;
        width: 100%;
        overflow-y: visible;
        border: none;
    }
    .contacto__imagen{
        display: none
    }
}