.card{
    background-color: #127883;
    opacity: 90%;
    .letra__formulario{
        color: white;
    }
    .letra__formulario2{
        color: white;
    }
}
.botonCard{
    background-color: #fd4830;
    border-radius: 7px;
    color: white;
}
.botonCard:hover{
    background-color: #fd6d2a;
    color: #fcfbfa;
}