.card{
    background-color: #127883;
    opacity: 90%;
    .letra__formulario{
        color: white;
    }
    .letra__formulario2{
        color: white;
    }
}
.botonCard{
    background-color: #fd4830;
    border-radius: 7px;
    color: white;
}
.botonCard:hover{
    background-color: #fd6d2a;
    color: #fcfbfa;
}
@each $fondo in celeste, naranja{
    .celeste{$fondo}{
        background-color: celeste {$fondo}
    }
}
.celeste{
    background-color: #57a8b3;
}
.naranja{
    background-color: #fd4830;
}

